<!-- ======================================================
  USERS - DELETE
  ========================================================= -->

<div class="route-block">
  <p id="users-delete">
    <span class="method">DELETE</span> <code>/api/users/:id</code> - Supprimer
    un utilisateur
  </p>

  <!-- ========== SUCCESS ========== -->
  <details>
    <summary>Réponses valides</summary>

    <p class="example-title">
      Réponse <span class="badge badge--success">200 OK</span> :
    </p>

    <pre><code>{
    "success": true,
    "message": "Utilisateur supprimé avec succès.",
    "user": {
        "id": "...",
        "username": "jDoe",
        "email": "john@doe.com",
        "createdAt": "2026-01-17T15:09:28.636Z",
        "updatedAt": "2026-01-17T15:09:28.636Z"
    }
}</code></pre>
  </details>
  
<!-- ========== ERRORS ========== -->
  <details>
    <summary>Erreurs possibles</summary>

    <p class="example-title">
      Erreur <span class="badge badge--error">400 Bad Request</span> :
    </p>

    <!-- IDENTIFIANT INVALIDE -->
    <p class="error-type">Identifiant invalide</p>

    <pre><code>{
    "success": false,
    "error": "Identifiant utilisateur invalide."
}</code></pre>

    <p class="example-title">
      Erreur <span class="badge badge--error">403 Forbidden</span> :
    </p>

    <!-- SUPPRESSION IMPOSSIBLE -->
    <p class="error-type">Suppression impossible</p>

    <pre><code>{
    "success": false,
    "error": "Vous ne pouvez pas supprimer votre propre compte."
}</code></pre>

    <p class="example-title">
      Erreur <span class="badge badge--error">404 Not Found</span> :
    </p>

    <!-- UTILISATEUR INTROUVABLE -->
    <p class="error-type">Utilisateur introuvable</p>

    <pre><code>{
    "success": false,
    "error": "Utilisateur introuvable."
}</code></pre>
  </details>
</div>