<!-- ======================================================
  USERS - GET ALL
  ========================================================= -->

<div class="route-block">
  <p id="users-list">
    <span class="method">GET</span> <code>/api/users</code> - Liste des
    utilisateurs
  </p>

  <!-- ========== SUCCESS ========== -->
  <details>
    <summary>Réponses valides</summary>

    <p class="example-title">
      Réponse <span class="badge badge--success">200 OK</span> :
    </p>

    <pre><code>{
    "success": true,
    "count": 14,
    "users": [
      {
          "id": "...",
          "username": "John",
          "email": "john@doe.com"
          "createdAt": "2026-01-15T19:51:21.057Z",
          "updatedAt": "2026-01-15T19:51:37.732Z"
      },
      ...
  ]
}</code></pre>
  </details>
</div>