<% const hasRuleErrors =
  errors?.password?.errors &&
  Object.keys(errors.password.errors).length > 0;
%>

<% if (passwordRules && passwordRules.length) { %>
<div class="password-rules-container">
  <ul
    id="password-rules"
    class="password-rules <%= hasRuleErrors ? 'visible password-rules-error' : '' %>"
    aria-live="polite"
  >
    <% passwordRules.forEach(rule => { %>
    <li
      data-rule="<%= rule %>"
      class="<%= hasRuleErrors && errors.password.errors[rule] ? 'error' : '' %>"
    >
      <%= rule %>
    </li>
    <% }) %>
  </ul>
</div>
<% } %>
