<% if (passwordRules && passwordRules.length) { %>
<div class="password-rules-container">
  <ul
    id="password-rules"
    class="password-rules <%= errors.password ? 'visible password-rules-error' : '' %>"
    aria-live="polite"
  >
    <% passwordRules.forEach(rule => { %>
    <li
      data-rule="<%= rule %>"
      class="<%= errors.password?.rules?.includes(rule) ? 'error' : '' %>"
    >
      <%= rule %>
    </li>
    <% }) %>
  </ul>
</div>
<% } %>
