<!-- ======================================================
  CATWAYS - CREATE
  ========================================================= -->

<div class="route-block">
  <p id="catways-create">
    <span class="method">POST</span> <code>/api/catways</code> - Créer un catway
  </p>

  <!-- ========== SUCCESS ========== -->
  <details>
    <summary>Réponses valides</summary>

    <p class="example-title">Exemple requête :</p>
    <pre><code>{
    "catwayNumber": 25,
    "catwayType": "long",
    "catwayState": "Bon état"
}</code></pre>

    <p class="example-title">
      Réponse <span class="badge badge--success">201 Created</span> :
    </p>
    <pre><code>{
    "success": true,
    "message": "Catway créé avec succès.",
    "catway": {
        "id": "...",
        "number": 26,
        "type": "long",
        "state": "bon état",
        "isOutOfService": false,
        "createdAt": "2026-01-21T13:15:36.276Z",
        "updatedAt": "2026-01-21T13:15:36.276Z"
    }
}</code></pre>
  </details>

  <!-- ========== ERRORS ========== -->
  <details>
    <summary>Erreurs possibles</summary>

    <p class="example-title">
      Erreur <span class="badge badge--error">400 Bad Request</span> :
    </p>

    <!-- CHAMP NON AUTORISÉ -->
    <p class="error-type">Champ(s) non autorisé(e)</p>

    <pre><code>{
    "success": false,
    "error": "Champ(s) non autorisé(s) : nom_du_champ."
}</code></pre>

    <!-- CHAMPS REQUIS -->
    <p class="error-type">Contrôle des champs requis</p>
    
    <pre><code>{
    "success": false,
    "error": "Données invalides.",
    "details": {
        "catwayNumber": "Champ obligatoire manquant : Numéro de catway",
        "catwayType": "Champ obligatoire manquant : Type de catway",
        "catwayState": "Champ obligatoire manquant : État du catway"
    }
}</code></pre>

    <!-- DONNÉES INVALIDES -->
    <p class="error-type">Contrôle de validation des champs</p>
    
    <pre><code>{
    "success": false,
    "error": "Données invalides.",
    "details": {
        "catwayType": "Type de catway invalide. Valeurs autorisées : short ou long"
    }
}</code></pre>

    <!-- CATWAY EXISTANT -->
    <p class="error-type">Contrôle d'unicité du numéro de catway</p>

    <pre><code>{
    "success": false,
    "error": "Un catway avec ce numéro existe déjà.",
    "details": {
        "existingCatway": {
            "isOutOfService": false,
            "_id": "...",
            "catwayNumber": 24,
            "catwayType": "short",
            "catwayState": "bon état"
        }
    }
}</code></pre>
  </details>
</div>