<!-- ======================================================
  CATWAYS - DELETE
  ========================================================= -->

<div class="route-block">
  <p id="catways-delete">
    <span class="method">DELETE</span> <code>/api/catways/:id</code> - Supprimer
    un catway
  </p>

  <!-- ========== SUCCESS ========== -->
  <details>
    <summary>Réponses valides</summary>

    <p class="example-title">
      Réponse <span class="badge badge--success">200 OK</span> :
    </p>

    <pre><code>{
    "success": true,
    "message": "Catway supprimé avec succès.",
    "data": {
        "catway": {
            "_id": "...",
            "catwayNumber": 25,
            "catwayType": "long",
            "catwayState": "catway instable. À consolider avant de remettre en service.",
            "isOutOfService": true,
            "createdAt": "2026-01-17T15:36:11.851Z",
            "updatedAt": "2026-01-17T18:46:57.501Z"
        },
        "reservationsDeleted": {
            "upComing": 0,
            "inProgress": 0,
            "finished": 1
        }
    }
}</code></pre>
  </details>

<!-- ========== ERRORS ========== -->
  <details>
    <summary>Erreurs possibles</summary>

    <p class="example-title">
      Erreur <span class="badge badge--error">400 Bad Request</span> :
    </p>

    <!-- IDENTIFIANT INVALIDE -->
    <p class="error-type">Numéro de catway invalide</p>

    <pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

    <p class="example-title">
      Erreur <span class="badge badge--error">404 Not Found</span> :
    </p>

    <!-- UTILISATEUR INTROUVABLE -->
    <p class="error-type">Catway introuvable</p>

    <pre><code>{
    "success": false,
    "message": "Catway introuvable.",
    "context": {
        "catwayNumber": 32
    }
}</code></pre>

    <p class="example-title">
      Erreur <span class="badge badge--error">409 Conflict</span> :
    </p>

    <!-- PASSWORD REQUIS -->
    <p class="error-type">Mot de passe requis</p>
    
    <pre><code>{
    "success": false,
    "message": "Ce catway contient des réservations. La suppression nécessite une confirmation par mot de passe.",
    "context": {
      "reason": "password_required",
      "catwayNumber": 25,
      "reservationsLinked": true,
      "reservationsStats": {
          "upComing": 2,
          "inProgress": 1,
          "finished": 1
        }
    }
}</code></pre>
  
  <!-- PASSWORD INVALIDE -->
  <p class="error-type">Mot de passe invalide</p>

    <pre><code>{
    "success": false,
    "message": "Mot de passe incorrect.",
    "context": {
        "reason": "invalid_password"
    }
}</code></pre>
  </details>
</div>