<!-- ======================================================
  CATWAYS - GET BY ID (catwayNumber)
  ========================================================= -->

<div class="route-block">
  <p id="catways-get">
    <span class="method">GET</span> <code>/api/catways/:id</code> - Détails d'un
    catway
  </p>

  <!-- ========== SUCCESS ========== -->
  <details>
    <summary>Réponses valides</summary>

    <p class="example-title">
      Réponse <span class="badge badge--success">200 OK</span> :
    </p>

    <pre><code>{
    "success": true,
    "catway": {
        "id": "...",
        "Number": 1,
        "Type": "short",
        "State": "bon état",
        "isOutOfService": false,
        "createdAt": "2026-01-13T00:05:11.320Z",
        "updatedAt": "2026-01-13T00:06:20.674Z"
    }
}</code></pre>
  </details>

  <!-- ========== ERRORS ========== -->
  <details>
    <summary>Erreurs possibles</summary>

    <p class="example-title">
      Erreur <span class="badge badge--error">400 Bad Request</span> :
    </p>
    
    <!-- IDENTIFIANT CATWAY INVALIDE-->
    <p class="error-type">Numéro de catway invalide</p>
    
    <pre><code>{
    "success": false,
    "error": "Numéro de catway invalide."
}</code></pre>

    <p class="example-title">
      Erreur <span class="badge badge--error">404 Not Found</span> :
    </p>

    <!-- CATWAY INTROUVABLE -->
    <p class="error-type">Catway introuvable</p>
    
    <pre><code>{
    "success": false,
    "error": "Catway introuvable."
}</code></pre>
  </details>
</div>