<!-- ======================================================
  CATWAYS - UDPATE
  ========================================================= -->

<div class="route-block">
  <p id="catways-update">
    <span class="method">PUT</span> <code>/api/catways/:id</code> - Modifier un
    catway
  </p>

  <!-- ========== SUCCESS ========== -->
  <details>
    <summary>Réponses valides</summary>

    <p class="example-title">Exemple requête :</p>
    <pre><code>{
    "isOutOfService": true,
    "catwayState": "catway instable. À consolider avant de remettre en service."
}</code></pre>

    <p class="example-title">
      Réponse <span class="badge badge--success">200 OK</span> :
    </p>
    <pre><code>{
    "success": true,
    "message": "Catway mis à jour.",
    "data": {
        "id": "...",
        "number": 25,
        "type": "long",
        "state": "catway instable. À consolider avant de remettre en service.",
        "isOutOfService": true,
        "stateKey": "HS",
        "createdAt": "2026-01-21T13:03:12.095Z",
        "updatedAt": "2026-01-21T13:15:56.410Z"
    }
}</code></pre>
  </details>

  <!-- ========== ERRORS ========== -->
  <details>
    <summary>Erreurs possibles</summary>

    <p class="example-title">
      Erreur <span class="badge badge--error">400 Bad Request</span> :
    </p>

    <!-- IDENTIFIANT INVALIDE -->
    <p class="error-type">Numéro de catway invalide</p>

    <pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

    <!-- CHAMP NON AUTORISÉ -->
    <p class="error-type">Champ(s) non autorisé(e)</p>

    <pre><code>{
    "success": false,
    "message": "Champ(s) non autorisé(s) : nom_du_champ."
}</code></pre>

<!-- CHAMP(S) INVALIDE(S) -->
<p class="error-type">Contrôle de format des champs</p>

<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "isOutOfService": "Le champ isOutOfService doit être un booléen.",
        "catwayState": "L'état du catway doit être une chaîne de caractère non vide."
    }
}</code></pre>

    <!-- AUCUNE DONNÉE VALIDE À METTRE À JOUR -->
    <p class="error-type">Aucune donnée valide à mettre à jour</p>

    <pre><code>{
    "success": false,
    "message": "Aucune donnée valide à mettre à jour."
}</code></pre>

    <p class="example-title">
      Erreur <span class="badge badge--error">404 Not Found</span> :
    </p>

    <!-- UTILISATEUR INTROUVABLE -->
    <p class="error-type">Utilisateur introuvable</p>

    <pre><code>{
    "success": false,
    "message": "Utilisateur introuvable."
    "context": {
        "catwayNumber": 32
    }
}</code></pre>
  </details>
</div>