@import url(./core.css);

/* ==================================================
   COMPONENTS ENTRYPOINT (USED BY DOC.CSS)
   ================================================== */

@import url(./components/button.css);
@import url(./components/card.css);
@import url(./components/code.css);
@import url(./components/badge.css);
@import url(./components/scrollbar.css);

/* ==================================================
   LAYOUTS
   ===================================================== */

@import url(./layouts/sidebar.css);
@import url(./layouts/app-layout.css);
@import url(./layouts/doc-layout.css);

/* ==================================================
   PAGES
   ===================================================== */

@import url(./pages/documentation.css);