<div class="doc-section">

    <!-- ======================================================
    CATWAYS - GET ALL
    ========================================================= -->

    <div class="card card--doc">
        <p id="catways-list">
            <span class="method">GET</span> <code>/api/catways</code> - Liste des
            catways
        </p>

        <!-- ========== SUCCESS ========== -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "count": 24,
    "data": [
        {
            "id": "...",
            "Number": 1,
            "Type": "short",
            "State": "bon état",
            "isOutOfService": false,
            "stateKey": "OK",
            "createdAt": "2026-01-13T00:05:11.320Z",
            "updatedAt": "2026-01-13T00:06:20.674Z"
        },
        ...
    ]
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    CATWAYS - GET BY ID (catwayNumber)
    ========================================================= -->

    <div class="card card--doc">
        <p id="catways-get">
            <span class="method">GET</span> <code>/api/catways/:id</code> - Détails d'un
            catway
        </p>

        <!-- ========== SUCCESS ========== -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "data": {
        "id": "...",
        "Number": 1,
        "Type": "short",
        "State": "bon état",
        "isOutOfService": false,
        "stateKey": "OK",
        "createdAt": "2026-01-13T00:05:11.320Z",
        "updatedAt": "2026-01-13T00:06:20.674Z"
    }
}</code></pre>
        </details>

        <!-- ========== ERRORS ========== -->
        <details>
            <summary>Erreurs possibles</summary>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>
            
            <!-- IDENTIFIANT CATWAY INVALIDE-->
            <p class="error-type">Numéro de catway invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">404 Not Found</span> :
            </p>

            <!-- CATWAY INTROUVABLE -->
            <p class="error-type">Catway introuvable</p>
            
<pre><code>{
    "success": false,
    "message": "Catway introuvable.",
    "context": {
        "catwayNumber": 32
    }
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    CATWAYS - CREATE
    ========================================================= -->

    <div class="card card--doc">
        <p id="catways-create">
            <span class="method">POST</span> <code>/api/catways</code> - Créer un catway
        </p>

        <!-- ========== SUCCESS ========== -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">Exemple requête :</p>

<pre><code>{
    "catwayNumber": 25,
    "catwayType": "long",
    "catwayState": "Bon état"
}</code></pre>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">201 Created</span> :
            </p>
<pre><code>{
    "success": true,
    "message": "Catway créé avec succès.",
    "catway": {
        "id": "...",
        "number": 26,
        "type": "long",
        "state": "bon état",
        "isOutOfService": false,
        "stateKey": "OK",
        "createdAt": "2026-01-21T13:15:36.276Z",
        "updatedAt": "2026-01-21T13:15:36.276Z"
    }
}</code></pre>
        </details>

        <!-- ========== ERRORS ========== -->
        <details>
            <summary>Erreurs possibles</summary>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- CHAMP NON AUTORISÉ -->
            <p class="error-type">Champ(s) non autorisé(e)</p>

<pre><code>{
    "success": false,
    "message": "Champ(s) non autorisé(s) : nom_du_champ."
}</code></pre>

            <!-- CHAMPS REQUIS -->
            <p class="error-type">Contrôle des champs requis</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "catwayNumber": "Champ obligatoire manquant : Numéro de catway",
        "catwayType": "Champ obligatoire manquant : Type de catway",
        "catwayState": "Champ obligatoire manquant : État du catway"
    }
}</code></pre>

            <!-- DONNÉES INVALIDES -->
            <p class="error-type">Contrôle de validation des champs</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "catwayNumber": "Le numéro de catway doit être un nombre valide.",
        "catwayNumber": "Le numéro de catway doit être un nombre entier.",
        "catwayNumber": "Le numéro de catway doit être supérieur ou égal à 1.",
        "catwayType": "Type de catway invalide. Valeurs autorisées : short ou long"
    }
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">409 Conflict</span> :
            </p>

            <!-- CATWAY EXISTANT -->
            <p class="error-type">Contrôle d'unicité</p>

<pre><code>{
    "success": false,
    "message": "Impossible de créer le catway.",
    "errors": {
        "catwayNumber": "Un catway avec ce numéro existe déjà."
    },
    "conflictWith": {
        "catway": {
            "id": "...",
            "catwayNumber": 2,
            "catwayType": "short",
            "catwayState": "bon état",
            "isOutOfService": false
        }
    }
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    CATWAYS - UDPATE
    ========================================================= -->

    <div class="card card--doc">
        <p id="catways-update">
            <span class="method">PUT</span> <code>/api/catways/:id</code> - Modifier un
            catway
        </p>

        <!-- ========== SUCCESS ========== -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">Exemple requête :</p>

<pre><code>{
    "isOutOfService": true,
    "catwayState": "catway instable. À consolider avant de remettre en service."
}</code></pre>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "message": "Catway mis à jour.",
    "data": {
        "id": "...",
        "number": 25,
        "type": "long",
        "state": "catway instable. À consolider avant de remettre en service.",
        "isOutOfService": true,
        "stateKey": "HS",
        "createdAt": "2026-01-21T13:03:12.095Z",
        "updatedAt": "2026-01-21T13:15:56.410Z"
    }
}</code></pre>
        </details>

        <!-- ========== ERRORS ========== -->
        <details>
            <summary>Erreurs possibles</summary>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- IDENTIFIANT INVALIDE -->
            <p class="error-type">Numéro de catway invalide</p>

<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

            <!-- CHAMP NON AUTORISÉ -->
            <p class="error-type">Champ(s) non autorisé(e)</p>

<pre><code>{
    "success": false,
    "message": "Champ(s) non autorisé(s) : nom_du_champ."
}</code></pre>

        <!-- CHAMP(S) INVALIDE(S) -->
        <p class="error-type">Contrôle de format des champs</p>

<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "isOutOfService": "Le champ isOutOfService doit être un booléen.",
        "catwayState": "L'état du catway doit être une chaîne de caractère non vide."
    }
}</code></pre>

            <!-- AUCUNE DONNÉE VALIDE À METTRE À JOUR -->
            <p class="error-type">Aucune donnée valide à mettre à jour</p>

<pre><code>{
    "success": false,
    "message": "Aucune donnée valide à mettre à jour."
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">404 Not Found</span> :
            </p>

            <!-- UTILISATEUR INTROUVABLE -->
            <p class="error-type">Utilisateur introuvable</p>

<pre><code>{
    "success": false,
    "message": "Utilisateur introuvable."
    "context": {
        "catwayNumber": 32
    }
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    CATWAYS - DELETE
    ========================================================= -->

    <div class="card card--doc">
        <p id="catways-delete">
            <span class="method">DELETE</span> <code>/api/catways/:id</code> - Supprimer
            un catway
        </p>

        <!-- ========== SUCCESS ========== -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "message": "Catway supprimé avec succès.",
    "data": {
        "catway": {
            "_id": "...",
            "catwayNumber": 25,
            "catwayType": "long",
            "catwayState": "catway instable. À consolider avant de remettre en service.",
            "isOutOfService": true,
            "stateKey": "HS",
            "createdAt": "2026-01-17T15:36:11.851Z",
            "updatedAt": "2026-01-17T18:46:57.501Z"
        },
        "reservationsDeleted": {
            "upComing": 0,
            "inProgress": 0,
            "finished": 1
        }
    }
}</code></pre>
        </details>

        <!-- ========== ERRORS ========== -->
        <details>
            <summary>Erreurs possibles</summary>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- IDENTIFIANT INVALIDE -->
            <p class="error-type">Numéro de catway invalide</p>

<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">404 Not Found</span> :
            </p>

            <!-- UTILISATEUR INTROUVABLE -->
            <p class="error-type">Catway introuvable</p>

<pre><code>{
    "success": false,
    "message": "Catway introuvable.",
    "context": {
        "catwayNumber": 32
    }
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">409 Conflict</span> :
            </p>

            <!-- PASSWORD REQUIS -->
            <p class="error-type">Mot de passe requis</p>
            
<pre><code>{
    "success": false,
    "message": "Ce catway contient des réservations. La suppression nécessite une confirmation par mot de passe.",
    "context": {
    "reason": "password_required",
    "catwayNumber": 25,
    "reservationsLinked": true,
    "reservationsStats": {
        "upComing": 2,
        "inProgress": 1,
        "finished": 1
        }
    }
}</code></pre>
        
        <!-- PASSWORD INVALIDE -->
        <p class="error-type">Mot de passe invalide</p>

<pre><code>{
    "success": false,
    "message": "Mot de passe incorrect.",
    "context": {
        "reason": "invalid_password"
    }
}</code></pre>
        </details>
    </div>
</div>