<div class="doc-section">

    <!-- ======================================================
    RESERVATIONS - GET ALL
    ========================================================= -->

    <div class="card card--doc">
        <p id="reservations-list">
            <span class="method">GET</span> <code>/api/reservations</code> - Liste
            globale des réservations
        </p>

        <!-- ========== SUCCESS ========= -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "count": 6,
    "data": [
        {
            "id": "...",
            "catwayNumber": 5,
            "clientName": "Marc Le Goff",
            "boatName": "Bavaria Cruiser",
            "status": {
                "key": "IN_PROGRESS",
                "label": "En cours"
            },
            "startDate": "2026-01-12T00:00:00.000Z",
            "endDate": "2026-01-14T00:00:00.000Z",
            "createdAt": "2026-01-08T12:56:04.016Z",
            "updatedAt": "2026-01-09T18:24:25.845Z"
        },
        ...
    ]
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    RESERVATIONS - GET BY CATWAY
    ========================================================= -->

    <div class="card card--doc">
        <p id="reservations-catway">
            <span class="method">GET</span> <code>/api/catways/:id/reservations</code> -
            Liste des réservations d'un catway
        </p>

        <!-- ========== SUCCESS ========= -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "count": 1,
    "data": [
        {
            "id": "698a5a2d8ac671f7bbdd693c",
            "catwayNumber": 1,
            "clientName": "Thomas Martin",
            "boatName": "Carolina",
            "status": {
                "key": "FINISHED",
                "label": "Terminée"
            },
            "startDate": "2024-05-21T06:00:00.000Z",
            "endDate": "2024-10-27T06:00:00.000Z",
            "createdAt": "2026-02-09T22:05:33.685Z",
            "updatedAt": "2026-02-09T22:05:33.685Z"
        }
        ...
    ]
}</code></pre>
        </details>

        <!-- ========== ERRORS ========= -->
        <details>
            <summary>Erreurs possibles</summary>
            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- IDENTIFIANT INVALIDE -->
            <p class="error-type">Identifiant invalide</p>

<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>  

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">404 Not Found</span> :
            </p>

            <!-- CATWAY INTROUVABLE -->
            <p class="error-type">Catway introuvable</p>

<pre><code>{
    "success": false,
    "message": "Catway introuvable.",
    "context": {
        "catwayNumber": 32
    }
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    RESERVATIONS - GET BY ID
    ========================================================= -->

    <div class="card card--doc">
        <p id="reservations-get">
            <span class="method">GET</span>
            <code>/api/catways/:id/reservations/:idReservation</code> - Voir une
            réservation
        </p>

        <!-- ========== SUCCESS ========= -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "data": {
        "catway": {
            "catwayNumber": 1,
            "catwayType": "short"
        },
        "client": {
            "clientName": "Thomas Martin",
            "boatName": "Carolina"
        },
        "reservation": {
            "id": "...",
            "status": {
                "key": "FINISHED",
                "label": "Terminée"
            },
            "startDate": "2024-05-21T06:00:00.000Z",
            "endDate": "2024-10-27T06:00:00.000Z",
            "createdAt": "2026-01-08T12:56:04.016Z",
            "updatedAt": "2026-01-09T18:24:25.845Z"
        }
    }
}</code></pre>
        </details>

        <!-- ========== ERRORS ========= -->
        <details>
            <summary>Erreurs possibles</summary>
            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- ID CATWAY INVALIDE -->
            <p class="error-type">Identifiant catway invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

            <!-- ID RESERVATION INVALIDE -->
            <p class="error-type">Identifiant réservation invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Identifiant reservation invalide."
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">404 Not Found</span> :
            </p>

            <!-- CATWAY INTROUVABLE -->
            <p class="error-type">Catway introuvable</p>

<pre><code>{
    "success": false,
    "message": "Catway introuvable.",
    "context": {
        "catwayNumber": 32
    }
}</code></pre>

            <!-- RÉSERVATION INTROUVABLE -->
            <p class="error-type">Réservation introuvable</p>

<pre><code>{
    "success": false,
    "message": "Réservation introuvable.",
    "context": {
        "catwayNumber": 5,
        "idReservation": "..."
    }
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    RESERVATIONS - AVAILABILITY
    ========================================================= -->

    <div class="card card--doc">
        <p id="reservations-availability">
            <span class="method">POST</span>
            <code>/api/reservations/availability</code> - Recherche de catway disponible
        </p>

        <!-- ========== SUCCESS ========= -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">Exemple requête :</p>
<pre><code>{
    "startDate": "2024-02-01",
    "endDate": "2024-12-10",
    "catwayType": "",
    "allowPartial": true
}</code></pre>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">201 Created</span> :
            </p>
<pre><code>{
    "success": true,
    "data": [
        {
            "catway": {
                "catwayNumber": 3,
                "catwayType": "short",
                "catwayState": "bon état"
            },
            "availability": {
                "status": "partial",
                "slots": [
                    {
                        "from": "2024-02-01",
                        "to": "2024-06-20"
                    },
                    {
                        "from": "2024-08-28",
                        "to": "2024-12-03"
                    }
                ]
            }
        },
        {
            "catway": {
                "catwayNumber": 4,
                "catwayType": "short",
                "catwayState": "bon état"
            },
            "availability": {
                "status": "full",
                "from": "2024-02-01",
                "to": "2024-12-02"
            }
        },
        ...
    ]
}</code></pre>
        </details>

        <!-- ========== ERRORS ========= -->
        <details>
            <summary>Erreurs possibles</summary>
            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- ID INVALIDE -->
            <p class="error-type">Identifiant invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

            <!-- CHAMP NON AUTORISÉ -->
            <p class="error-type">Champ(s) non autorisé(e)</p>

<pre><code>{
    "success": false,
    "message": "Champ(s) non autorisé(s) : nom_du_champ."
}</code></pre>

            <!-- CHAMPS REQUIS -->
            <p class="error-type">Contrôle des champs requis</p>
            
<pre><code>{
    "success": false,
    "message": "Données invalides.",
    "errors": {
        "startDate": "Champ obligatoire manquant : Date d'entrée.",
        "endDate": "Champ obligatoire manquant : Date de sortie."
    }
}</code></pre>

            <!-- FORMATS DATES -->
            <p class="error-type">Contrôle du format des dates</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": "Format de date invalide. Format attendu : YYYY-MM-DD."
}</code></pre>

            <!-- DATES CALENDAIRES -->
            <p class="error-type">Contrôle de validation des dates</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": "Date invalide : le mois et le jour sont incorrects."
}</code></pre>

            <!-- DATE ENTRÉE < DATE SORTIE -->
            <p class="error-type">Date d'entrée antérieure à la date de sortie</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "Dates": "La date de fin doit être strictement postérieure à la date de début (minimum 1 nuit)."
    }
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    RESERVATIONS - CREATE
    ========================================================= -->

    <div class="card card--doc">
        <p id="reservations-create">
            <span class="method">POST</span>
            <code>/api/catways/:id/reservations</code> - Créer une réservation
        </p>

        <!-- ========== SUCCESS ========= -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">Exemple requête :</p>
<pre><code>{
    "clientName": "Jeanne Doe",
    "boatName": "Appolica",
    "startDate": "2026-01-18",
    "endDate": "2026-11-30"
}</code></pre>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">201 Created</span> :
            </p>
<pre><code>{
    "success": true,
    "message": "Réservation créée avec succès.",
    "data": {
        "catway": {
            "catwayNumber": 5,
            "catwayType": "long"
        },
        "client": {
            "clientName": "Jean Doe",
            "boatName": "Appolica"
        },
        "reservation": {
            "id": "...",
            "status": {
                "key": "UPCOMING",
                "label": "À venir"
            },
            "startDate": "2026-01-18T06:00:00.000Z",
            "endDate": "2026-11-30T06:00:00.000Z",
            "createdAt": "2026-01-09T22:42:06.823Z",
            "updatedAt": "2026-01-09T22:42:06.823Z"
        }
    }
}</code></pre>
        </details>

        <!-- ========== ERRORS ========= -->
        <details>
            <summary>Erreurs possibles</summary>
            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- ID INVALIDE -->
            <p class="error-type">Identifiant invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

            <!-- CHAMP NON AUTORISÉ -->
            <p class="error-type">Champ(s) non autorisé(e)</p>

<pre><code>{
    "success": false,
    "message": "Champ(s) non autorisé(s) : nom_du_champ."
}</code></pre>

            <!-- CHAMPS REQUIS -->
            <p class="error-type">Contrôle des champs requis</p>
            
<pre><code>{
    "success": false,
    "message": "Données invalides.",
    "errors": {
        "clientName": "Champ obligatoire manquant : Nom du client.",
        "boatName": "Champ obligatoire manquant : Nom du bateau.",
        "startDate": "Champ obligatoire manquant : Date d'entrée.",
        "endDate": "Champ obligatoire manquant : Date de sortie."
    }
}</code></pre>

            <!-- FORMATS DATES -->
            <p class="error-type">Contrôle du format des dates</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "Dates": "Format de date invalide. Format attendu : YYYY-MM-DD."
    }
}</code></pre>

            <!-- DATES CALENDAIRES -->
            <p class="error-type">Contrôle de validation des dates</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "Dates": "Le mois et le jour sont incorrects."
    }
}</code></pre>

            <!-- DATE ENTRÉE < DATE SORTIE -->
            <p class="error-type">Date d'entrée antérieure à la date de sortie</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "Dates": "La date de fin doit être strictement postérieure à la date de début (minimum 1 nuit)."
    }
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">404 Not Found</span> :
            </p>

            <!-- CATWAY INTROUVABLE -->
            <p class="error-type">Catway introuvable</p>

<pre><code>{
    "success": false,
    "message": "Catway introuvable.",
    "context": {
        "catwayNumber": 32
    }
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">409 Conflict</span> :
            </p>

            <!-- CATWAY DÉJÀ RÉSERVÉ -->
            <p class="error-type">Catway déjà réservé</p>

<pre><code>{
    "success": false,
    "message": "Ce catway est déjà réservé sur ce créneau.",
    "conflictWith": {
        "reservation": {
            "id": "...",
            "clientName": "Jacky Snow",
            "boatName": "Léandra",
            "startDate": "2024-09-18T06:00:00.000Z",
            "endDate": "2024-12-23T06:00:00.000Z",
            "createdAt": "2024-08-26T18:57:40.845Z",
            "updatedAt": "2024-08-26T18:57:40.845Z"
        }
    }
}</code></pre>

            <!-- CATWAY HS -->
            <p class="error-type">Catway hors service</p>

<pre><code>{
    "success": false,
    "message": "Catway hors service.",
    "context": {
        "catwayNumber": 6,
        "isOutOfService": true,
        "catwayState": "En cours de réparation. Ne peut être réservée actuellement"
    }
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    RESERVATIONS - UPDATE
    ========================================================= -->

    <div class="card card--doc">
        <p id="reservations-update">
            <span class="method">PUT</span>
            <code>/api/catways/:id/reservations/:idReservation</code> - Modifier une
            réservation
        </p>

        <!-- ========== SUCCESS ========= -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">Exemple requête :</p>

<pre><code>{
    "clientName": "John Doe",
    "boatName": "Appolon",
    "startDate" : "2026-02-01",
    "endDate" : "2026-03-01"
}</code></pre>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "message": "Réservation mise à jour",
    "dara": {
        "catway": {
            "number": 5
        },
        "client": {
            "name": "John Doe",
            "boat": "Appolon"
        },
        "reservation": {
            "id": "...",
            "status": {
                "key": "UPCOMING",
                "label": "À venir"
            },
            "start": "2026-02-01T05:00:00.000Z",
            "end": "2026-03-01T05:00:00.000Z",
            "createdAt": "2026-01-21T15:22:23.556Z",
            "updatedAt": "2026-01-21T15:23:19.987Z"
        }
    }
}</code></pre>
        </details>

        <!-- ========== ERRORS ========= -->
        <details>
            <summary>Erreurs possibles</summary>
            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- ID CATWAY INVALIDE -->
            <p class="error-type">Identifiant catway invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

            <!-- ID RÉSERVATION INVALIDE -->
            <p class="error-type">Identifiant réservation invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Identifiant réservation invalide."
}</code></pre>

            <!-- CHAMP NON AUTORISÉ -->
            <p class="error-type">Champ(s) non autorisé(e)</p>

<pre><code>{
    "success": false,
    "message": "Champ(s) non autorisé(s) : nom_du_champ."
}</code></pre>  

            <!-- FORMATS DATES -->
            <p class="error-type">Contrôle du format des dates</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "Dates": "Format de date invalide. Format attendu : YYYY-MM-DD."
    }
}</code></pre>

            <!-- DATES CALENDAIRES -->
            <p class="error-type">Contrôle de validation des dates</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "Dates": "Le mois et le jour sont incorrects."
    }
}</code></pre>

            <!-- AUCUNE DONNÉE VALIDE -->
            <p class="error-type">Aucune donnée valide à mettre à jour</p>
            
<pre><code>{
    "success": false,
    "message": "Aucune donnée valide à mettre à jour."
}</code></pre>

            <!-- DATE ENTRÉE < DATE SORTIE -->
            <p class="error-type">Date d'entrée antérieure à la date de sortie</p>
            
<pre><code>{
    "success": false,
    "message": "Donnée(s) invalide(s).",
    "errors": {
        "Dates": "La date de fin doit être strictement postérieure à la date de début (minimum 1 nuit)."
    }
}</code></pre>


            <p class="example-title">
                Erreur <span class="badge doc-badge--error">403 Forbidden</span> :
            </p>

            <!-- DATE ENTRÉE NON ÉDITABLE (RÉSERVATION EN COURS) -->
            <p class="error-type">Date d'entrée non éditable</p>

<pre><code>{
    "success": false,
    "message": "La date de début ne peut plus être modifiée une fois la réservation commencée."
}</code></pre>

            <!-- ÉDITION IMPOSSIBLE -->
            <p class="error-type">Réservation non éditable</p>
            
<pre><code>{
    "success": false,
    "message": "Cette réservation est terminée et ne peut plus être modifiée."
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">404 Not Found</span> :
            </p>

            <!-- CATWAY INTROUVABLE -->
            <p class="error-type">Catway introuvable</p>

<pre><code>{
    "success": false,
    "message": "Catway introuvable.",
    "context": {
        "catwayNumber": 32
    }
}</code></pre>

            <!-- RÉSERVATION INTROUVABLE -->
            <p class="error-type">Réservation introuvable</p>

<pre><code>{
    "success": false,
    "message": "Réservation introuvable.",
    "context": {
        "catwayNumber": 5,
        "idReservation": "..."
    }
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">409 Conflict</span> :
            </p>

            <!-- CATWAY DÉJÀ RÉSERVÉ -->
            <p class="error-type">Catway déjà réservé</p>

<pre><code>{
    "success": false,
    "message": "Ce catway est déjà réservé sur ce créneau.",
    "conflictWith": {
        "reservation": {
            "id": "...",
            "clientName": "Test",
            "boatName": "Test",
            "startDate": "2026-06-03T06:00:00.000Z",
            "endDate": "2026-06-07T06:00:00.000Z",
            "createdAt": "2026-02-10T00:14:39.314Z",
            "updatedAt": "2026-02-10T00:14:39.314Z"
        }
    }
}</code></pre>
        </details>
    </div>

    <!-- ======================================================
    RESERVATIONS - DELETE
    ========================================================= -->

    <div class="card card--doc">
        <p id="reservations-update">
            <span class="method">DELETE</span>
            <code>/api/catways/:id/reservations/:idReservation</code> - Supprimer une
            réservation
        </p>

        <!-- ========== SUCCESS ========= -->
        <details>
            <summary>Réponses valides</summary>

            <p class="example-title">
            Réponse <span class="badge doc-badge--success">200 OK</span> :
            </p>

<pre><code>{
    "success": true,
    "message": "Réservation supprimée avec succès.",
    "details": {
        "catway": {
            "number": 5
        },
        "client": {
            "name": "Test_update",
            "boat": "Test_update"
        },
        "reservation": {
            "id": "...",
            "start": "2026-02-01T05:00:00.000Z",
            "end": "2026-03-01T05:00:00.000Z",
            "createdAt": "2026-01-21T15:22:23.556Z",
            "updatedAt": "2026-01-21T15:23:19.987Z"
        }
    }
}</code></pre>
        </details>

        <!-- ========== ERRORS ========= -->
        <details>
            <summary>Erreurs possibles</summary>
            <p class="example-title">
            Erreur <span class="badge doc-badge--error">400 Bad Request</span> :
            </p>

            <!-- ID CATWAY INVALIDE -->
            <p class="error-type">Identifiant catway invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Numéro de catway invalide."
}</code></pre>

            <!-- ID RÉSERVATION INVALIDE -->
            <p class="error-type">Identifiant réservation invalide</p>
            
<pre><code>{
    "success": false,
    "message": "Identifiant réservation invalide."
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">404 Not Found</span> :
            </p>

            <!-- CATWAY INTROUVABLE -->
            <p class="error-type">Catway introuvable</p>

<pre><code>{
    "success": false,
    "message": "Catway introuvable.",
    "context": {
        "catwayNumber": 32
    }
}</code></pre>

            <!-- RÉSERVATION INTROUVABLE -->
            <p class="error-type">Réservation introuvable</p>

<pre><code>{
    "success": false,
    "message": "Réservation introuvable.",
    "context": {
        "catwayNumber": 5,
        "idReservation": "..."
    }
}</code></pre>

            <p class="example-title">
            Erreur <span class="badge doc-badge--error">409 Conflict</span> :
            </p>

            <!-- PASSWORD REQUIS -->
            <p class="error-type">Mot de passe requis</p>
            
<pre><code>{
    "success": false,
    "message": "La réservation est 'En cours'. La suppression nécessite une confirmation par mot de passe.",
    "context": {
        "reason": "password_required",
        "status": {
            "key": "IN_PROGRESS",
            "label": "En cours"
        },
        "clientName": "John Doe",
        "boatName": "L'Intrépide",
        "startDate": "2026-02-05T06:00:00.000Z",
        "endDate": "2026-02-14T06:00:00.000Z"
    }
}</code></pre>
        
        <!-- PASSWORD INVALIDE -->
        <p class="error-type">Mot de passe invalide</p>

<pre><code>{
    "success": false,
    "message": "Mot de passe incorrect.",
    "context": {
        "reason": "invalid_password"
    }
}</code></pre>
        </details>
    </div>
</div>