/* ======================================================
   BADGES
   ====================================================== */

.badge {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: bold;
    color: white;
}

.badge--success {
    background: #114b15ff;
    color: #67ed70ff
}

.badge--error {
    background: #4b1111ff;
    color: #ed6767ff
}

.badge--500 {
    background: #820000ff;
    color: #ffa8a8ff
}