/* ======================================================
   BADGES
   ====================================================== */

.badge {
    display: inline-block;
    padding: var(--badge-padding-y) var(--badge-padding-x);
    border-radius: var(--radius-md);
    font-size: var(--badge-font-size);
    font-weight: var(--badge-weight);
}

/* DOC BADGES */

.doc-badge--success {
    background: #114b15ff;
    color: #67ed70ff
}

.doc-badge--error {
    background: #4b1111ff;
    color: #ed6767ff
}

.doc-badge--500 {
    background: #820000ff;
    color: #ffa8a8ff
}