/* ======================================================
   CODE
   ====================================================== */

pre {
    background: var(--code-bg);
    color: var(--code-text);
    padding: var(--code-padding-block) var(--code-padding-inline);
    border-radius: var(--code-radius);
    overflow-x: auto;
}

pre code {
    display: block;
    padding-left: 0;
}

code {
    padding: var(--code-inline-padding-y) var(--code-inline-padding-x);
    border-radius: var(--code-radius);
    font-size: var(--code-font-size);
    font-family: var(--font-family-mono);
}