/* ======================================================
   TOOLTIP
   ====================================================== */

.tooltip-floating {
    position: fixed;
    min-width: var(--tooltip-min-width);
    max-width: var(--tooltip-max-width);
    padding: var(--tooltip-padding-block) var(--tooltip-padding-inline);
    border-radius: var(--tooltip-radius);

    background: var(--tooltip-bg);
    color: var(--tooltip-color-text);
    font-size: var(--tooltip-size-text);
    font-weight: var(--text-bold);

    pointer-events: none;
    opacity: 0;

    transform: translateY(4px);

    transition: var(--transition-fast);
}

.tooltip-floating.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.tooltip-top {
  transform-origin: center bottom;
}

.tooltip-bottom {
  transform-origin: center top;
}

.tooltip-left {
  transform-origin: right center;
}

.tooltip-right {
  transform-origin: left center;
}

/* ARROW */
.tooltip-floating::after {
  content: "";
  position: absolute;
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  background: inherit;
  transform: rotate(45deg);
}

/* RIGHT */
.tooltip-right::after {
  left: var(--tooltip-arrow-offset);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

/* LEFT */
.tooltip-left::after {
  right: var(--tooltip-arrow-offset);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

/* BOTTOM */
.tooltip-bottom::after {
  top: var(--tooltip-arrow-offset);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/* TOP */
.tooltip-top::after {
  bottom: var(--tooltip-arrow-offset);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}