/* ======================================================
   DASHBOARD - USER INFOS
   ====================================================== */
   
.card--user {
    padding: var(--space-lg) var(--space-xl);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card--user-icon {
    font-size: var(--size-icon);
    padding-right: var(--space-md);
}