<dl class="side-panel-list">
  <div class="detail-row">
    <dt>Nom</dt>
    <dd><%= entity.username %></dd>
  </div>

  <div class="detail-row">
    <dt>Email</dt>
    <dd><%= entity.email %></dd>
  </div>

  <div class="detail-row">
    <dt>Créé le</dt>
    <dd class="muted"><%= entity.createdAtFormatted %></dd>
  </div>

  <div class="detail-row">
    <dt>Modifié le</dt>
    <dd class="muted"><%= entity.updatedAtFormatted %></dd>
  </div>
</dl>
