/* ======================================================
   GLOBAL RESET
   ====================================================== */

.hidden,
[hidden] {
    display: none !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
