<!-- ======================================================
  AUTH 
  ========================================================= -->

<h2 id="auth">Authentification</h2>

<%- include("login") %>
<%- include("logout") %>