<!-- ======================================================
  AUTH - LOGOUT
  ========================================================= -->

<div class="route-block">
  <p id="logout">
    <span class="method">POST</span> <code>api/auth/logout</code> - Se
    déconnecter
  </p>

  <!-- ========== SUCCESS ========== -->
  <details>
    <summary>Réponses valides</summary>

    <p class="example-title">
      Réponse <span class="badge badge--success">200 OK</span> :
    </p>

    <pre><code>{
    "success": true,
    "message": "Déconnecté avec succès."
}</code></pre>
  </details>
</div>