/* ==================================================
   APP LAYOUT
   ================================================== */

.layout {
    display: flex;
    height: 100dvh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--flow-normal);
    min-height: 0;
    min-width: var(--control-min-width);
    padding: var(--content-page-padding);

    transition:
        margin-right
        var(--motion-duration-slow)
        var(--motion-ease-standard);
}

.ui-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: var(--z-ui-layer);
    isolation: isolate;
}

/* ==================================================
   APP LAYOUT — SCROLL BEHAVIOR
   ================================================== */

/* Page classique */
body.scroll-main main {
    overflow: auto;
}

/* Page applicative */
body.scroll-components main {
    overflow: hidden;
}

/* ==================================================
   APP LAYOUT — SIDE PANEL INTERACTION
   ================================================== */

body.side-panel-open main {
    margin-right: var(--side-panel-width);
}

body.side-panel-open {
    overflow-x: hidden;
}

/* ==================================================
   APP STATE — SIDE PANEL
   ================================================== */

body.side-panel-open .side-panel-toggle {
    opacity: 1;
    pointer-events: auto;
}