/* ======================
   DOC LAYOUT
   ====================== */

.content {
    display: flex;
    flex-direction: column;
    gap: var(--flow-normal);
    flex: 1;
    padding: var(--content-page-padding);
}

.doc-section {
    display: flex;
    flex-direction: column;
    gap: var(--flow-normal);
}

.card--doc {
    display: flex;
    flex-direction: column;
    gap: var(--flow-tight);
}

details > * + * {
    margin-top: var(--flow-tight);
}