/* ======================================================
   SIDEBAR
   ====================================================== */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--flow-normal);

    width: var(--side-bar-width);
    height: 100dvh;
    padding: var(--side-bar-padding);
    box-shadow: var(--shadow-md);

    background: var(--surface-primary);
    border-right: var(--border-light);

    flex-shrink: 0;
}

.sidebar-title {
    font-size: var(--text-heading-3);
    margin-bottom: 0;
}

/* ======================================================
   SIDEBAR MENU
   ====================================================== */

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: var(--flow-tight);
    height: 100%;
    padding: var(--space-xs);

    flex: 1;
    min-height: var(--control-min-height-xs);
    overflow-y: auto;
}

.sidebar-menu-main {
    display: flex;
    flex-direction: column;
    gap: var(--flow-tight);
}

.sidebar-menu-secondary {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: var(--flow-tight);
}

/* ======================================================
   SIDEBAR FOOTER
   ====================================================== */

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: var(--flow-normal);
    font-size: var(--text-small-size);
}

.sidebar-footer-content {
    display: flex;
    flex-direction: column;
    gap: var(--flow-normal);

    border-top: var(--border-default);
    padding-top: var(--flow-normal);
}