/* ======================================================
   SPLIT VIEW
   ====================================================== */

.split-view {
    display: flex;
    gap: 24px;
    flex: 1;
    min-height: 0;
}

.split-view__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    gap: 24px;
}

.split-view__right .form--btn-only {
    flex-shrink: 0;
}