/* ======================================================
   SPLIT VIEW
   ====================================================== */

.split-view {
    display: flex;
    gap: var(--flow-normal);
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.split-view__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--flow-normal);
    min-height: 0;
}