/* ======================================================
   TABLE LAYOUT
   ====================================================== */

.table-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: var(--control-min-height-md);
    min-width: var(--control-min-width);
    gap: var(--flow-normal);
}

.table-section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--flow-normal);
}

.table-wrapper {
    flex: 0 1 auto;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    min-height: var(--control-min-height-xs);
    min-width: var(--control-min-width);
    border-radius: var(--radius-md);
    border: var(--border-light);
    box-shadow: var(--shadow-sm);
    background: var(--surface-primary);
    font-size: var(--text-body-size);
}

.table-wrapper--no-data {
    min-height: fit-content;
}

.table-actions {
    display: flex;
    justify-content: space-between;
    gap: var(--space-sm);
    flex-wrap: wrap;
}

