<!-- ======================================================
  GLOBAL ERRORS
  ========================================================= -->

<div class="card card--doc">

  <p class="example-title">
    Erreur <span class="badge doc-badge--error">401 Unauthorized</span> :
  </p>

  <p class="error-type">Token manquant</p>
  
<pre><code>{
    "success": false,
    "message": "Accès refusé: aucun token fourni."
}</code></pre>

  <p class="error-type">Token expiré</p>
  
<pre><code>{
    "success": false,
    "message": "Token expiré. Veuillez vous reconnecter."
}</code></pre>

  <p class="error-type">Token invalide</p>
  
<pre><code>{
    "success": false,
    "message": "Accès refusé: token invalide."
}</code></pre>

  <p class="example-title">
    Erreur <span class="badge doc-badge--error">404 Not Found</span> :
  </p>

  <p class="error-type">Route introuvable</p>

<pre><code>{
    "success": false,
    "error": "Route API introuvable.",
    "path": "/nom/route/introuvable"
}</code></pre>

  <p class="example-title">
    Erreur <span class="badge doc-badge--500">500 Internal Serveur Error</span> :
  </p>

  <p class="error-type">Erreur interne serveur</p>
  
<pre><code>{
    "success": false,
    "message": "Erreur interne du serveur.",
}</code></pre>
</div>
