<!-- ======================================================
  RESERVATIONS - GET ALL
  ========================================================= -->

<div class="route-block">
  <p id="reservations-list">
    <span class="method">GET</span> <code>/api/reservations</code> - Liste
    globale des réservations
  </p>

  <!-- ========== SUCCESS ========= -->
  <details>
    <summary>Réponses valides</summary>

    <p class="example-title">
      Réponse <span class="badge badge--success">200 OK</span> :
    </p>

    <pre><code>{
    "success": true,
    "count": 6,
    "reservations": [
        {
            "_id": "...",
            "catwayNumber": 5,
            "clientName": "Marc Le Goff",
            "boatName": "Bavaria Cruiser",
            "startDate": "2026-01-12T00:00:00.000Z",
            "endDate": "2026-01-14T00:00:00.000Z",
            "createdAt": "2026-01-08T12:56:04.016Z",
            "updatedAt": "2026-01-09T18:24:25.845Z"
        },
      ...
  ]
}</code></pre>
  </details>
</div>